<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="turbopi">

	<xacro:arg name="use_hardware" default="robot" />
	<xacro:arg name="use_style" default="default" />
	<xacro:arg name="use_version" default="8" />

	<xacro:include filename="colors.xacro" />
	<xacro:include filename="inertial_macros.xacro" />
	<xacro:include filename="turbopi_core.xacro" />
	<xacro:include filename="ros2_control.xacro" />

	<xacro:ros2_control use_hardware="$(arg use_hardware)"
                        use_style="$(arg use_style)" />
	<xacro:style use_style="$(arg use_style)" />

    <xacro:macro name="gazebo" params="use_hardware">
      <xacro:if value="${use_hardware == 'ign_gazebo'}">
	    <xacro:include filename="gazebo_plugins.xacro" />
        <xacro:plugins use_version="$(arg use_version)" />
      </xacro:if>
    </xacro:macro>

    <xacro:gazebo use_hardware="$(arg use_hardware)" />

</robot>
